.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .row
      .medium-12.columns
        - unless devise_error_messages!.empty?
          .container 
            .alert-box.success.radius{ data: { alert: true } }
              = devise_error_messages!
        %h2 Sign up to DigitalNZ
    .row
      .medium-6.columns
        .field
          = f.label :username
          %br/
          = f.text_field :username, autofocus: true
        .field
          = f.label :email
          %br/
          = f.email_field :email
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off"
        .field
          = f.label :terms_of_service do
            I agree to DigitalNZ's
            = link_to "terms and conditions", terms_path          
            = f.check_box :terms_of_service, as: :boolean
        .actions
          = f.submit "Sign up", class: "button radius small"
      .medium-6.columns
        = render "devise/shared/links"
