.container

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .row
      .medium-12.columns
        = devise_error_messages!
        %h2 Forgot your password?
    .row
      .medium-6.columns
        .field
          = f.label :email
        %br/
        = f.email_field :email, autofocus: true
        .actions
          = f.submit "Send me reset password instructions"
      .medium-6.columns
        = render "devise/shared/links"



