%footer
  .grid-container
    %nav
      %ul.menu.align-center
        %li= link_to 'Become a Partner', become_a_partner_path
        %li= link_to 'Contact', contact_path
        %li= link_to 'Terms of use', terms_path

= javascript_include_tag 'application'
= javascript_pack_tag 'application'
