/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
.contain-to-grid.sticky
  %nav.top-bar{'data-topbar' => true, role: "navigation"}
    %ul.title-area
      %li.name
        %h1= link_to t('site_title'), root_url
      %li.toggle-topbar.menu-icon= link_to "Menu", '#'

    %section.top-bar-section
      %ul.left
        %li= link_to 'Home', root_url
        %li= link_to 'Contact', '/contact'
        %li= link_to 'About', '/about'
        - unless current_page? root_url
          %li.has-form
            .row.collapse
              = form_tag records_path, :method => :get, class: 'search' do
                = hidden_field_tag("tab", params[:tab]) if params[:tab].present?
                .large-8.small-9.columns
                  = text_field_tag :text, @search.text, class: 'search-input', placeholder: t('records.enter_search')
                .large-4.small-3.columns
                  = submit_tag "Search", class: "search-button"
                
      %ul.right
        - if user_signed_in?
          %li.has-dropdown
            %a= current_user.email.split('@').first
            %ul.dropdown
              %li= link_to 'Edit profile', edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, method: :delete      
        - else 
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Login", new_user_session_path

