/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
.contain-to-grid.sticky
  %nav.top-bar{'data-topbar' => true, role: "navigation"}
    %ul.title-area
      %li.name
        %h1= link_to t('site_title'), root_url
      %li.toggle-topbar.menu-icon= link_to "Menu", '#'

    %section.top-bar-section
      %ul.left
        %li#home-link= link_to 'Home', root_url
        %li#about-link= link_to 'About', '/about'
        %li#contact-link= link_to 'Contact', '/contact'
        %li#terms-link= link_to 'Terms of Use', '/terms'



