/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
= form_tag records_path, :method => :get, class: 'search clearfix' do
  - if params[:i].present?
    - params[:i].each do |k, v|
      = hidden_field_tag "i[#{k}]", v

  = hidden_field_tag("tab", params[:tab] || 'More')

  .container
    .row.collapse.postfix-round
      .small-10.columns= text_field_tag :text, @search.text, class: 'search-input', placeholder: t('records.enter_search')
      .small-2.columns= submit_tag "Search", class: "search-button button postfix"
