#panel1-1.quick-filters.content.active
  - filter_facets.each_with_index do |facet, index|
    %section
      = facet[0].capitalize.gsub('_', ' ')
      %ul#quick-filters
        - facet[1].each_with_index do |filter, i|
          - if i < 5

            %li
              %a{class: filter_class(filter[0]), data: { facet: facet[0], filter: filter[0] }}
                = "#{date_parser_for(filter[0])}"
                %span.count= number_with_precision(filter[1], delimiter: ',', precision: 0)
        %li
          %a.more{:href => "#panel1-#{index + 2}"} More +
