/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
.filters
  = render "shared/search"
  .container
    %ul
      - SearchTab.sorted_counts(@counts).each do |type, count|
        = content_tag :li, class: ('active' if search_tab.value.downcase == type.downcase) do              |
            link_to SearchTab.tab_label(type, number_with_precision(count, delimiter: ',', precision: 0)), |
            records_path(search_tab_options(search.options, type)),                                        |
            id: "#{type}-tab"                                                                              |
          end                                                                                              |

      - more_title = more_tab_title
      %li{:class => ("active" unless more_title == 'More')}
        %a{"aria-controls" => "drop1", "aria-expanded" => "false", "data-dropdown" => "drop1"} 
          = more_title
          %span.count
            = fa_icon('list')
        %ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
          = more_categories_list(search_tab.more_categories(@counts))
