/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
- title @record.title.truncate(40)
- content_for(:body_class) {'record-detail'}
.container
  .row
    .medium-12.columns
      = link_to :back, class: "button radius small" do
        %i.fa.fa-arrow-left 
        Back to results

  .row 
    .medium-6.columns
      .row
        .medium-12.columns
          %figure
            = link_to(display_record_graphic(@record), @record.source_url)
            / link_to(image_tag(@record.image_url(original: true, width: 660), alt: "#{@record.title} - #{@record.display_content_partner}", itemprop: 'image'), @record.source_url)
  
    .medium-6.columns.about

      %h1= @record.title

      / = render partial: 'shared/add_to_set', locals: {logged_in: current_user.present?, record: @record}

      .detail-values

        - if not @record.display_collection.blank?
          .row 
            .medium-4.columns
              %strong= t('records.display_collection')
            .medium-8.columns
              = link_to @record.display_collection, @record. source_url

        - if not @record.display_content_partner.blank?
          .row 
            .medium-4.columns
              %strong= t('records.content_partner')
            .medium-8.columns
              - if not @record.contributing_partner.blank?
                = "#{@record.contributing_partner.join(', ')}, "
              = @record.display_content_partner

        - if not @record.creator.empty?
          .row 
            .medium-4.columns
              %strong= t('records.by')
            .medium-8.columns
              = @record.creator.join(', ')

        - if not @record.display_date.blank?
          .row 
            .medium-4.columns
              %strong= t('records.date')
            .medium-8.columns
              = @record.display_date

        - if not @record.description.blank?
          .row 
            .medium-4.columns
              %strong= t('records.description')
            .medium-8.columns
              = @record.description.html_safe.truncate(1000)

        - if not @record.usage.empty?
          .row 
            .medium-4.columns
              %strong= t('records.usage')
            .medium-8.columns
              = @record.usage.join(', ')

        - if not @record.category.empty?
          .row 
            .medium-4.columns
              %strong= t('records.category')
            .medium-8.columns
              = @record.category.join(', ')

        - if not @record.subject.empty?
          .row 
            .medium-4.columns
              %strong= t('records.subject')
            .medium-8.columns
              = @record.subject.join(', ')


