= form_for @contributed_item, html: { multipart: true } do |f|

  = f.hidden_field :category, value: 'Image'
  = f.hidden_field :status, value: 'unconfirmed'
  = f.hidden_field :user_id, value: current_user.id

  - if @contributed_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contributed_item.errors.count, "error")} prohibited this contributed_item from being saved:"
      %ul
        - @contributed_item.errors.full_messages.each do |msg|
          %li= msg

  .upload-target
    %h3 Drag an image here or click to choose

    .field
      = f.file_field :item_path

  %h4 Add some information 

  .row 
    .medium-6.columns

      .field
        = f.label :title
        = f.text_field :name

      .field
        = f.label :description
        = f.text_area :description
    .medium-6.columns
      / .field.date
      /   = f.label :date_of_item
      /   = f.date_select :date_of_item
      .field
        = f.label :creator
        = f.text_field :creator
      .field
        = f.label :copyright
        = f.text_field :copyright

  .row 
    .medium-12.columns.actions
      = f.submit 'Save this image', class: 'button'
