%h1 Listing contributed_items

%table
  %thead
    %tr
      %th Category
      %th Name
      %th Status
      %th Description
      %th Date of item
      %th Creator
      %th Copyright
      %th Item path
      %th User
      %th
      %th
      %th

  %tbody
    - @contributed_items.each do |contributed_item|
      %tr
        %td= contributed_item.category
        %td= contributed_item.name
        %td= contributed_item.status
        %td= contributed_item.description
        %td= contributed_item.date_of_item
        %td= contributed_item.creator
        %td= contributed_item.copyright
        %td= contributed_item.item_path
        %td= contributed_item.user_id
        %td= link_to 'Show', contributed_item
        %td= link_to 'Edit', edit_contributed_item_path(contributed_item)
        %td= link_to 'Destroy', contributed_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contributed item', new_contributed_item_path
