/
  \# The majority of The Supplejack Website code is Crown copyright (C) 2014, New Zealand Government,
  \# and is licensed under the GNU General Public License, version 3. Some components are
  \# third party components that are licensed under the MIT license or other terms.
  \# See https://github.com/DigitalNZ/supplejack_website for details.
  \#
  \# Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
  \# http://digitalnz.org/supplejack
- title @contributed_item.name.truncate(40)
- content_for(:body_class) {'record-detail'}
.container
  .row 
    .medium-6.columns
      %figure
        = image_tag(@contributed_item.item_path_url)
  
    .medium-6.columns.about
      %h1= @contributed_item

      .record-badge.record-community
        %a{ href: community_path(@contributed_item.communities.first) }
          %i.fa.fa-users.fa-2x
          %span= "Part of the '#{@contributed_item.communities.first}' community"

      .record-badge.record-contributed
        %a{ href: @contributed_item.communities.first }
          %i.fa.fa-heart.fa-2x
          %span Contributed by a community member

      .record-badge.record-add
        %a.record-add-trigger{ href: '#' }
          %i.fa.fa-plus-circle.fa-2x
          %span Add this item to…

      %p
        %span.field-label 
          Contributed by
          %strong Harley Couper

        / = @contributed_item.user

      =simple_format @contributed_item.description

      - unless @contributed_item.date_of_item.blank? 
        %p
          %span.field-label Date
          = @contributed_item.date_of_item
      - unless @contributed_item.creator.blank? 
        %p
          %span.field-label Creator
          = @contributed_item.creator
      - unless @contributed_item.copyright.blank? 
        %p
          %span.field-label Copyright
          = @contributed_item.copyright
