= form_for(@story) do |f|
  - if @story.errors.any?
    #error_explanation
      %h2
        = pluralize(@story.errors.count, "error")
        prohibited this story from being saved:
      %ul
        - @story.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_set_id
    %br/
    = f.text_field :user_set_id
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .actions
    = f.submit
