- title @story.name.truncate(40)
- content_for(:body_class) {'story'}

.container

	.row
		.medium-12.columns
			.story-header
				%h1= @story.user_set.name
	.row
		.medium-9.columns
			.freeform{ data: { editable: true, name: 'main' } }
				= @story.content_output
		.medium-3.columns.story-metadata
			%h3 
				Written by 
				%br
				/ %strong= @story.user_set.user.try(:name)
				%strong Harley Couper
				%br
				on 
				= @story.created_at.strftime('%-d %B %Y')
			- unless @story.communities.empty?
				%h3 Part of these communities:
				- @story.communities.each do |community|
					.record-badge.record-community
						%a{ href: community_path(community) }
							%i.fa.fa-users.fa-2x
							%span= community

			.record-badge.record-contributed
				%i.fa.fa-heart.fa-2x
				%span Contributed by a community member

			%h3 
				%a.adder-icon.add-dnz{ data: {'reveal-id' => 'modal-add-to-dnz'} } Copyright info

			= image_tag('https://licensebuttons.net/l/by-nd/3.0/88x31.png') 

			Published under Creative Commons Attribution-NoDerivatives 4.0 International license.



				

			/ = image_tag @records.first.large_thumbnail_url, class: 'full-width', 'data-ce-tag' => "static"


			/ %section.add-panel 
			/ 	%h3.add-message.toggle-add-panel Add to your story...			
			/ 	.add-panel-inset
			/ 		.container
			/ 			.row
			/ 				.medium-3.small-6.columns.item-adder
			/ 					%a.adder-icon.add-dnz{ data: {'reveal-id' => 'modal-add-to-dnz'} }
			/ 						= image_tag 'logo-dnz-sprout.png'
			/ 					item from digitalNZ
			/ 				.medium-3.small-6.columns.item-adder
			/ 					%a.adder-icon.add-image{ data: {'reveal-id' => 'modal-add-image'} }
			/ 						%i.fa.fa-camera-retro.fa-3x
			/ 					your own image
			/ 				.medium-3.small-6.columns.item-adder
			/ 					.adder-icon.add-text
			/ 						%i.fa.fa-font.fa-3x
			/ 					write something
			/ 				.medium-3.small-6.columns.item-adder
			/ 					.adder-icon.add-section
			/ 						%i.fa.fa-paragraph.fa-3x
			/ 					section break
			/ 	%span.add-icon.toggle-add-panel +


			/ #settings-panel.content
			/ 	%h3 Communities

			/ 	%ul
			/ 		- Community.all.each do |community|
			/ 			%li
			/ 				- if @story.communities.include? community
			/ 					%strong= community
			/ 				- else
			/ 					= button_to community, add_community_to_story_path(@story, community.id)



#modal-add-to-dnz.reveal-modal{ 'data-reveal' => true, 'aria-labelledby' => "modalTitle", 'aria-hidden' => true,  role: 'dialog'}

	%h2 Add to your story…

	%ul.tabs{'data-tab' => true}
		%li.tab-title.active= link_to 'DigitalNZ Suggests', '#modal-panel-suggest'
		%li.tab-title= link_to 'Search DigitalNZ', '#modal-panel-search' 
		%li.tab-title= link_to 'Your contributed items', '#modal-panel-yours'  

	.tabs-content
		#modal-panel-suggest.content.active
			%ul.small-block-grid-4.medium-block-grid-6
				- @story.suggested_images(6).each do |record|
					%li
						.block-image-wrapper= link_to image_tag(record.image_url), record_path(record.id)
						%cite
							%h6= raw(record.title)
							= record.display_content_partner
							.add 
								%i.fa.fa-plus-circle
								Add to story
		#modal-panel-search.content
			= render "shared/search"
		#modal-panel-yours.content
			%ul.medium-block-grid-4
				- current_user.contributed_items.each do |item|
					%li
						= image_tag(item.item_path_url)
						%h5= item.name
						.add 
							%i.fa.fa-plus-circle
							Add to story


	= link_to raw('&#215;'), '#', class: 'close-reveal-modal', 'aria-label' => 'Close'


= render partial: 'shared/add_image_modal'

