<% title @user_set.name.truncate(40) %>
<% content_for(:body_class) {'user_set'} %>

<div class="container record">
	<figure>
	  <div class="gallery-container">
		  <span class="gallery-spinner"></span>
      <% @records.each do |r| %>
        <%= render partial: 'set_item', locals: {item: r, search: @search} %>
      <% end %>
		  <div id="second-spinner" class="infinite-spinner"></div>
	  </div>
	</figure>

	<div class="about">
		<%= attribute(@user_set, :name, label: false, tag: 'h1') %>
    <p>
      <span class="field-label"><%= t('user_sets.creator') %></span>
      <%= @user_set.user.try(:name) %>
    </p>
		<%= attribute(@user_set, :tags, { label_tag: 'span', label_class: 'field-label', trans_key: 'user_sets.date' }) %>
		<%= attribute(@user_set, :description, label_tag: 'span', label_class: 'field-label', trans_key: 'user_sets.description', limit: 1000) %>
	</div>
</div>
