!!!
%html
  = render "shared/head"

  %body{ class: yield(:body_class) }
    = render "shared/header"
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    .main= yield

    = render "shared/footer"
