!!!
%html
  = render 'shared/head'

  %body{ class: yield(:body_class) }
    = render partial: 'shared/menu', locals: { search: @search }
    = render 'shared/flash'

    .main= yield

    = render 'shared/footer'
