!!!
%html
	= render "shared/head"

	%body
		= render "shared/header"
		- if notice
			%p.alert.alert-success= notice
		- if alert
			%p.alert.alert-danger= alert

		.story= yield

		= render "shared/footer"
